# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / packaging
build/
dist/
*.egg-info/

# Logs / temp files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/


#Regular files
pyproject.toml
Plan
installer.py
/helper
